h1{
    color:rgb(28, 119, 28)
   }
   /* *{
        border:solid
    }   
   */
     a:link{
         color:white;
     }
     .menu a{
         margin-left: 50px;
     }
     .menu{
      margin-top: 50px;
      padding:50px;
     }
     a:visited{
        color:pink;
    }
   .header *{
       border: solid;
   }
   .header{

    background-color: aqua;
    display: flex;
    justify-content: space-between;
   }
 .grid{
     flex-wrap: wrap;
     justify-content: space-evenly;
    display:flex;
 }
.footer{
    display:flex;
    justify-content: flex-start;
}
p{
    text-align: center;
  
}
body{
    background-color: #00d9ff;
}
.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}
.item{
    position: relative;

}
.item p{
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.item:hover p{
    opacity: 1;
}
.item :hover img{
    opacity: 0;
}
